{% load static %}
<!doctype html>
<html class="no-js" lang="en">
{%  include "../widgets/metadata.html" %}
<body>
    
    <div class="wrapper"> 
        {%  include "../widgets/header.html" %} 
        <div class="container mt-4" style="margin-top: 100px;">
            <div class="p-4 m-4" style="margin-left: 400px;">
                <div class="col-lg-5 rounded mx-auto border pt-4 ">
                    <div class="text-center col">
                    <h2>TẠO TÀI KHOẢN</h2>  
                    </div>
                    <h3 hidden class="alert alert-light border rounded"><b>TẠO TÀI KHOẢN</b></h3>
                    <form action="/signup/" method="POST">
                        
                        {% csrf_token %}
        
                        {% if error%}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endif %}
                        
                        <!-- name -->
                        <div class="form-group">
                            <label for="">Họ tên</label>
                            <input type="text" name="name" 
                            id="" value="{{values.kh_ten}}" class="form-control form-control-sm"
                            >
                        </div>
        
                        <!-- phone -->
                        <div class="form-group">
                            <label for="">Số điện thoại</label>
                            <input type="text" name="phone" 
                            id="" class="form-control form-control-sm"
                            value="{{values.kh_sdt}}"
                            placeholder=""
                            >
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <label for="">Email</label>
                            <input required type="email" name="email" id=""
                            value="{{values.email}}" 
                            class=" form-control-sm form-control" placeholder="example@gmail.com">
                        </div>
        
        
                        <!-- password -->
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" 
                            name="password" 
                            id=""
                             class="form-control form-control-sm" placeholder="">
                        </div>
        
                        <hr>
                        <div class="form-group">
                            <input class="btn btn-sm btn-info" type="submit" value="Tạo tài khoản">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Waypoints.min.js. -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'jss/cart.js' %}"></script>

</body>

</html>