{% load static %}
<footer id="htc__footer">
    <!-- Start Copyright Area -->
    <div class="htc__copyright bg__cat--5" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright__inner">
                        <p>Copyright© hanhan<a href="https://freethemescloud.com/"></a> 2021.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
</footer>